header,#fh5co-intro-section,#fh5co-services-section,#fh5co-featured-work-section,#fh5co-common-section,#fh5co-blog-section,#footer,#fh5co-contact-section,#fh5co-work-section{
    padding-bottom:5em;
}
header {
    padding-top:3em;
}
header .fh5co-navbar-brand .fh5co-log{
    position: relative;
    font-size:100px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
header .fh5co-navbar-brand .fh5co-logo:after {
    position: absolute;
    bottom: 13px;
    right: -14px;
    width: 12px;
    height: 12px;
    background: #F03861;
    content: '';
}

header .fh5co-navbar-brand .fh5co-logo:hover {
    text-decoration:none;
}
header #fh5co-main-nav >ul{
    padding: 0;
    margin: 0;
}
header #fh5co-main-nav >ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header #fh5co-main-nav >ul li {
        display: block;
        margin-left: 0;
        margin-bottom: 15px;
    }
}
header #fh5co-main-nav >ul li a {
    padding-bottom: 5px;
    color: #000;
    position: relative;
    font-weight: 400;
}
header #fh5co-main-nav >ul li a.active:before {
    position: absolute;
    width: 7px;
    height: 7px;
    content: '';
    top: -5px;
    right: -7px;
    background: #f03861;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
header #fh5co-main-nav >ul li a:hover, header #fh5co-main-nav > ul li a:focus {
    text-decoration: none;
    color: #000;
}
header #fh5co-main-nav >ul li:first-child {
    margin-left: 0;
}
#fh5co-intro-section h2 {
    font-size: 40px;
    line-height: 1.5em;
    margin-bottom:20px;
}
@media screen and (max-width: 480px) {
    #fh5co-intro-section h2 {
        font-size: 30px;
    }
}